.Box {
  /* width: 18rem; */
  /* height: 9rem; */
  margin: 1.5rem 0rem 1.5rem 1.5rem;
  text-align: left;
  background-color: white;
  color: black;
  padding: 1rem;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.clear {
  clear: both;
}

@media only screen and (min-width: 1024px) and (max-width: 1220px) {
  .alignleft {
    font-size: 0.625rem;
  }
  .alignright {
    font-size: 0.625rem;
  }
}

@media only screen and (min-width: 1221px) and (max-width: 1350px) {
  .alignleft {
    font-size: 0.8rem;
  }
  .alignright {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1351px) and (max-width: 1375px) {
  .alignleft {
    font-size: 0.93rem;
  }
  .alignright {
    font-size: 0.93rem;
  }
}

@media only screen and (min-width: 1376px) and (max-width: 1600px) {
  .alignleft {
    font-size: 0.925rem;
  }
  .alignright {
    font-size: 0.925rem;
  }
}

@media only screen and (min-width: 1601px) and (max-width: 2000px) {
  .alignleft {
    font-size: 1.21rem;
  }
  .alignright {
    font-size: 1.21rem;
  }
}

@media only screen and (min-width: 2001px) {
  .alignleft {
    font-size: 1.6rem;
  }
  .alignright {
    font-size: 1.6rem;
  }
}
