.table-head th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

.table-head tr {
  display: flex;
}

.MuiTypography-body1 {
  color: #8a8d92;
}
.MuiTypography-body2 {
  color: #8a8d92;
} /*
 .ListItemAvatars {
   width: 100px;
 } */

@media only screen and (min-width: 1024px) and (max-width: 1220px) {
}

@media only screen and (min-width: 1221px) and (max-width: 1350px) {
}
@media only screen and (min-width: 1351px) and (max-width: 1600px) {
}

@media only screen and (min-width: 1601px) and (max-width: 2000px) {
}

@media only screen and (min-width: 2001px) {
}
