.Update {
  background-color: #2d3135;
  width: 44rem;
  /* height:32.5rem; */
  text-align: left;
  margin: 0rem 2rem 2rem 2rem;
  border: 1px black solid;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* margin-left: 500px; */
  /* margin-top: 80px; */
  color: white;
  line-height: 200%;
  padding-left: 1rem;
}

.Update h1 {
  color: #8a8d92;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Muli", sans-serif;
  font-weight: bold;
  text-align: left;
}

@media only screen and (min-width: 1023px) {
  .Update {
    width: 52vw;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1220px) {
  .Update {
    height: 68vh;
  }
}

@media only screen and (min-width: 1221px) and (max-width: 2000px) {
  .Update {
    height: 50vh;
  }
}

@media only screen and (min-width: 2001px) {
  .Update {
    height: 70vh;
  }
}
