.Update {
	background-color:  #2D3135;
	width:50rem;
	/* height:32.5rem; */
	text-align: left;
	margin: 0rem 2rem 2rem 2rem;
	border: 1px black solid;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	/* margin-left: 500px; */
	/* margin-top: 80px; */
	color: white;
	line-height: 200%;
    padding-left: 1rem;

}

.Update h1
{
	color:#8A8D92; 
	margin-top: 20px;
	margin-bottom: 30px;
	font-family: "Muli", sans-serif;
	font-weight: bold;
	text-align: left;
}
