@import url("https://fonts.googleapis.com/css?family=Leckerli+One|Alpha+Centauri|Varela+Round|Righteous|Montserrat|Creepster|Matrix");
/* @import url("https://fonts.googleapis.com/css?family=Leckerli+One|AlphaCentauri|Varela+Round|Righteous|Montseerat|Creepster|Matrix|Lexend+Tera") */
*{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: alpha;
  src: url(fonts/AlphaCentauri\ 500.ttf);
}

.title {
  color: #ff2482;
  text-align: center;
  text-shadow: 10px 12px 8px rgb(31, 27, 4);
  font-size: 35px;
  font-weight: 300;
  font-family: alpha ;
  margin-right: 2rem;
  width: 100rem;
}

.navStyle {
  color: #8a8d92 !important;
  padding: 2rem;
  text-align: left !important;
  font-family: "Muli", sans-serif;
  /* background-color: red; */
}

.icon {
  margin-right: 1rem;
  border-right: 1px #8a8d92 solid !important;
  padding-right: 0.5rem !important;
  font-size: 30px !important;
}

.navStyle:hover {
  box-shadow: 0px 0px 10px silver;
  text-shadow: 0px 0px 15px silver;
  color: #ff2482 !important;
  border-left: 3px #ff2482 solid;
}
.icon:hover {
  /* color: #FF2482 !important; */
}
