@import url("https://fonts.googleapis.com/css?family=Leckerli+One|AlphaCentauri|Varela+Round|Righteous|Montserrat|Creepster");

body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  background-color: black;
}

.masthead {
  position: relative;
  width: auto;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000000 100%
    ),
    url("./crisis_d.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

#msc_margin {
  /* max-width: 100%; */
  height: 90px;
  padding-top: 1.1rem;
  padding-left: 1rem;
}

@media only screen and (max-width: 360px) {
  .masthead .jackpots {
    font-size: 240%;
    font-family: AlphaCentauri;
  }
  #msc_margin {
    /* max-width: 100%; */
    height: 70px;
    padding-top: 0.2rem;
    /* padding-left: 0.1rem; */
  }
}
@media only screen and (max-width: 600px) {
  .masthead .jackpots {
    font-size: 290%;
  }
  #msc_margin {
    /* max-width: 100%; */
    height: 90px;
    padding-top: 0.8rem;
    padding-left: 0.7rem;
  }
}
@media only screen and (max-width: 900px) {
  .masthead .jackpots {
    font-size: 370%;
  }
}

#scroll_icon {
  /* background-color: purple; */
  height: 80px;
  padding-top: 2rem;
}

#scroll_icon:hover {
  -ms-transform: scale(1.4); /* IE 9 */
  -webkit-transform: scale(1.4); /* Safari 3-8 */
  transform: scale(1.4);
}

#button_get {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 120%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0 !important;
}

#button_get:hover {
  background: transparent;
  color: white;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.jackpots {
  font-family: "alphacentaurimedium";
  font-size: 6.3vw;
  margin-left: 1.5vw;
}

.jackpots {
  animation: jackpots 1s 0s ease infinite;
  -moz-animation: jackpots 1s 0s ease infinite;
  /* Firefox */
  -webkit-animation: jackpots 1s 0s ease infinite;
  /* Safari and Chrome */
  -o-animation: jackpots 1s 0s ease infinite;
  /* Opera */
}
/* DROP UP MENU OF CONTACT */
/* Contact Us button */

.dropbtn {
  background: transparent;
  color: white;
  padding: 16px 16px 0px 16px;
  font-size: 16px;
  border: none;
  margin-left: 2rem;
  margin-bottom: 0.7rem;
  margin-top: 2.1rem;
  width: auto;
  float: left;
}

@media only screen and (max-width: 438px) {
  .dropbtn {
    margin: 2rem 0 0.8rem 2rem;
    padding-bottom: 0;
  }
}

/* Entire div of Contact Us with links */
.dropup {
  position: relative;
  bottom: 0;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  width: 17%;
  height: 70px;
  background: transparent;
  display: inline-block;
  /* font-size: 0.5rem; */
}

@media only screen and (max-width: 500px) {
  .dropup {
    width: 40%;
  }
}
/* @media only screen and (min-width:50px) (max-width: 800px){
  .dropup {
    width: 50%;
  }
  /* .dropbtn {
    margin-left: 1rem;
    width: 2rem;
  } */

.dropup-content {
  display: none;
  list-style: none;
  position: absolute;
  background: transparent;
  /* min-width: 160px; */
  bottom: 1.5rem;
  z-index: 1;
  /* margin-bottom: 20px; */
  padding: 0;
  /* color: white; */
  /* font-size: 0.5rem; */
}

@media only screen and (min-width: 425px) and (max-width: 1250px) {
  /* .dropup {
    padding-top: 4rem;
  } */
  .dropup-content {
    padding-top: 4rem;
  }
}
/* styling the links */
.dropup-content a {
  color: white;
  padding: 0.2rem 5rem;
  text-decoration: none;
  display: block;
}
/* effect on link while hovering */
.dropup-content a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}
/* Links inside contact us on hover to be displayed*/
.dropup:hover .dropup-content {
  display: block;
}
/* Contact Us button on hover */
.dropup:hover .dropbtn {
  background-color: transparent;
  /* color: red; */
}

@keyframes jackpots {
  0%,
  100% {
    text-shadow: -0.1vw 0vw 0.1vw #fe0000, -0.15vw 0vw 0.2vw #ff8484,
      -0.2vw 0vw 0.2vw #fe0000, -0.1vw 0vw 3vw #fe0000, -0.2vw 0vw 3vw #fe0000,
      -0.4vw 0vw 3vw #fe0000, -0.1vw 0vw 5vw #fe0000, -0.2vw 0vw 5vw #fe0000,
      -0.4vw 0vw 0.8vw #fe0000, 0.2vw 0vw 10vw #fe0000;
    color: #ff8484;
  }

  50% {
    text-shadow: -0.1vw 0vw 0.1vw #ff8484, -0.15vw 0vw 0.2vw #ff8484,
      -0.2vw 0vw 0.2vw #ff8484, -0.1vw 0vw 0.1vw #fe0000,
      -0.2vw 0vw 0.1vw #fe0000, -0.4vw 0vw 0.1vw #fe0000,
      -0.1vw 0vw 0.2vw #fe0000, -0.2vw 0vw 0.2vw #fe0000,
      -0.4vw 0vw 0.2vw #fe0000, 0.2vw 0vw 0.5vw #fe0000;
    color: #ff8484;
  }
}

.landing .image {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000000 100%
    ),
    url("./crisis_high.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.landing .logo {
  left: 0;
  margin-left: -1000px;
}
.landing .title {
  position: absolute;
  margin-top: -90px;
  font-family: "Creepster";
  font-size: 5em;
  font-weight: 500;
  padding: 5.5rem 0 1.2rem 0;
  z-index: 1000;
  margin-left: 490px;
  letter-spacing: 0.6rem;
}
.landing .title {
  animation: animate 1s 0s ease infinite;
  -moz-animation: animate 1s 0s ease infinite;
  /* Firefox */
  -webkit-animation: animate 1s 0s ease infinite;
  /* Safari and Chrome */
  -o-animation: animate 1s 0s ease infinite;
  /* Opera */
}

@keyframes animate {
  0%,
  100% {
    text-shadow: -0.1vw 0vw 0.1vw #fe0000, -0.15vw 0vw 0.2vw #ff8484,
      -0.2vw 0vw 0.2vw #fe0000, -0.1vw 0vw 3vw #fe0000, -0.2vw 0vw 3vw #fe0000,
      -0.4vw 0vw 3vw #fe0000, -0.1vw 0vw 5vw #fe0000, -0.2vw 0vw 5vw #fe0000,
      -0.4vw 0vw 0.8vw #fe0000, 0.2vw 0vw 10vw #fe0000;
    color: #ff8484;
  }
  50% {
    text-shadow: -0.1vw 0vw 0.1vw #ff8484, -0.15vw 0vw 0.2vw #ff8484,
      -0.2vw 0vw 0.2vw #ff8484, -0.1vw 0vw 0.1vw #fe0000,
      -0.2vw 0vw 0.1vw #fe0000, -0.4vw 0vw 0.1vw #fe0000,
      -0.1vw 0vw 0.2vw #fe0000, -0.2vw 0vw 0.2vw #fe0000,
      -0.4vw 0vw 0.2vw #fe0000, 0.2vw 0vw 0.5vw #fe0000;
    color: #ff8484;
  }
}
.landing .btn {
  border: none;
  color: #fff;
  font-size: 1rem;
  font-family: "Varela Round";
  font-weight: 400;
  cursor: pointer;
  position: relative;
  margin-top: 260px;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  z-index: 2000;
}
.landing .btn:hover {
  color: #ff8484;
  transform: scale(1.2);
}
.square {
  margin-top: 500px;
  position: relative;
  width: 140px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
