@import url("https://fonts.googleapis.com/css?family=Leckerli+One|AlphaCentauri|Varela+Round|Righteous|Montseerat|Creepster|Matrix|Lexend+Tera");

.bgi {
  background-image: url("./bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  overflow-x: hidden;
  height: 100vh;
}

.MSC_Logo {
  height: 50px;
}

.App {
  text-align: left;
}

#form {
  background-color: rgba(47, 48, 53, 0.8);
  box-shadow: 0 0 1.5rem #01c5c4;
  -moz-box-shadow: 0 0 1.5rem #01c5c4;
  -webkit-box-shadow: 0 0 1.5rem #01c5c4;
  -o-box-shadow: 0 0 1.5rem #01c5c4;
  border-radius: 0.3rem;
  text-align: left;
}

h3 {
  padding-top: 0.5rem;
  text-align: center;
  color: #01c5c4;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lexend Tera", sans-serif;
  text-shadow: 0 0 10px #01c5c4;
}

hr {
  background-color: white;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0;
}

.form_field {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  color: #ff6666;
  text-transform: uppercase;
}

.sub_btn {
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: #2f3035;
  background-color: #ff6666;
  border: none;
  text-transform: uppercase;
  box-shadow: 0 0 0.4rem #ff6666;
  -moz-box-shadow: 0 0 0.4rem #ff6666;
  -webkit-box-shadow: 0 0 0.4rem #ff6666;
  -o-box-shadow: 0 0 0.4rem #ff6666;
  font-weight: bold;
  margin-top: 1rem;
}

.form_inpField {
  background: transparent;
  border-bottom: 1px solid #ff6666;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #cbd5db;
}

.form_inpField:focus {
  background: transparent;
  color: #cbd5db;
  box-shadow: 0 0 0.4rem #01c5c4;
  -moz-box-shadow: 0 0 0.4rem #01c5c4;
  -webkit-box-shadow: 0 0 0.4rem #01c5c4;
  -o-box-shadow: 0 0 0.4rem #01c5c4;
}
