{% extends "users/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="parent">
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Register Now</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info button" id="sign_btn" type="submit">
          <b>Sign Up</b>
        </button>
      </div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        <span class="box-end">Already Have An Account?</span>
        <a class="ml-2" href="#">Sign In</a>
      </small>
    </div>
  </div>
</div>
{% endblock content %}
