body {
  position: relative;
  width: auto;
  height: 100vh;
  color: #333333;
  margin-top: 5rem;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000000 100%
    ),
    url("./crisis_blur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

#msc_logo {
  height: 50px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: rgba(47, 48, 53, 0.8);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  overflow: auto;
  max-height: 75vh;
}

.parent {
  box-shadow: 0 0 1.5rem #01c5c4;
  -moz-box-shadow: 0 0 1.5rem #01c5c4;
  -webkit-box-shadow: 0 0 1.5rem #01c5c4;
  -o-box-shadow: 0 0 1.5rem #01c5c4;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.5);
  transition: background 400ms;
}

.CONFIRM {
  text-align: center;
  box-shadow: 0 0 1.5rem #01c5c4;
  -moz-box-shadow: 0 0 1.5rem #01c5c4;
  -webkit-box-shadow: 0 0 1.5rem #01c5c4;
  -o-box-shadow: 0 0 1.5rem #01c5c4;
}

.confirm {
  background-color: rgba(47, 48, 53, 0.8);
  color: white;
  padding: 1rem 0.1rem;
}
